/* 基础设置 */
.container{
    width: 1190px;
    margin: 0 auto;
}

/* #region顶部导航条start */

.topbar{
    height: 30px;
    background-color: #ECECEC;
}
.leftfix{
    float: left;
}
.rightfix{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.welcome{
    font-size: 0;
    height: 30px;
    line-height: 30px;
    color: #666;
}
.welcome span,.welcome a{
    font-size: 12px;
}
.welcome .hello{
    margin-right: 28px;
}
.welcome .login{
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register{
    padding-left: 10px;
}
.topbar-nav{
    color: #666;
    line-height: 30px;
}
.topbar-nav .list li{
    float: left; 
}
.topbar-nav .list li a{
    padding:0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0px;
}
.topbar-nav .list li:last-child a{
    padding-right: 0px;
    border: 0;
}
/* #endregion顶部导航条end */

/* #region头部 */
.header{
    height: 120px;
}
.header .search form{
    margin-top: 42px;
    font-size: 0;
}
.header .search input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
    vertical-align: top;
}
.header .search button{
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    background-image: url("../asserts/images/serch_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
}
/* #endregion */

/* #region 主导航 */
.main-nav{
    height: 48px;
}
.main-nav .all-type{
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: 48px;
}

.main-nav .main-nav-list li{
    float: left;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    line-height: 48px;
}
/* #endregion */

/* #region侧边导航 */
.main-content{
    height: 458px;
    margin-top: 10px;
}
.main-content .aside-nav{
    width: 190px;
    background-color: #f4f4f4;
    position: relative;
}

.main-content .aside-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.main-content .aside-nav li:first-child{
    margin-top: 5px;
}
.main-content .aside-nav li:last-child{
    margin-bottom: 5px;
}
.main-content .aside-nav li:hover{
    background-color: #DD302D;
}

.main-content .aside-nav li:hover>a{
    color: #FFF;
}
.main-content .banner{
    width: 690px;
    margin: 0px 10px;
}

.main-content .other-nav{
    width: 290px;
}

.main-content .aside-nav .second-nav{
    width: 700px;
    height: 458px;
    position: absolute;
    top: 0;
    left: 190px;
    background-color: #FFF;
    display: none;
}
.main-content .aside-nav li:hover .second-nav{
    display: block;
}
.main-content .aside-nav .second-nav dl{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.main-content .aside-nav .second-nav dl:first-child{
    margin-top: 18px;
}
.main-content .aside-nav .second-nav dt{
    float: left;
    width: 70px;
    margin-left: 20px;
    margin-right: 10px;
}
.main-content .aside-nav .second-nav dd{
    float: left;
}
.main-content .aside-nav .second-nav dd a{
    padding: 0 10px;
    border-left: 1px solid #666;
}
/* #endregion */

/* #region 右侧尚品快报 */
.other-nav .message{
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0px 14px;
}
.other-nav .message .title{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}
.other-nav .message .title span{
    font-size: 14px;
}

.other-nav .message .title a{
    font-size: 12px;
}
.other-nav .news{
    margin-top: 2px;
}
.other-nav .news li{
    height: 26px;
    line-height: 26px;
}
.other-nav .news li::before{
    content: "[特惠] ";
}
/* #endregion */